In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# start_data='1990-01-01'
# end_date='2023-03-03'

In [3]:
ticker='AMZN'

In [4]:
data=yf.download(ticker,period='10y',interval='1d')

[*********************100%%**********************]  1 of 1 completed

In [5]:
data.head()

               Open       High        Low    Close  Adj Close     Volume
Date
2014-04-23  16.6530  16.656500  16.169500  16.2290    16.2290   72092000
2014-04-24  16.4835  16.870001  16.147499  16.8575    16.8575  185874000
2014-04-25  15.8125  15.824500  15.135500  15.1915    15.1915  323604000
2014-04-28  15.2000  15.219500  14.400000  14.8290    14.8290  289596000
2014-04-29  14.8220  15.092000  14.522500  15.0190    15.0190  130186000